link(rel='stylesheet' href='/stylesheets/dropdown.css')
include ./loginmodal.pug
include ./signupmodal.pug
.dropdown
  if session ===null
    button.dropbtn(onclick='showMenu()') 메뉴
  else
    button.dropbtn(onclick='showMenu()')= '회원 :'+ session
  #myDropdown.dropdown-content
    if session ===null
      a#signupbtn(href='#') 회원가입
      a#loginbtn(href='#') 로그인
    else
      a#logoutbtn(href='/logout') 로그아웃
    hr
    a(href='#') 숙소 호스트 되기
    a(href='#') 체험 호스트 되기
    a(href='#') 도움말
script(src='/scripts/dropdown.js') 
