link(rel='stylesheet' href='/stylesheets/dropdown.css')
include ./loginmodal.pug



.dropdown
  if session ===null
    button.dropbtn(onclick='showMenu()') 메뉴
  else
    button.dropbtn(onclick='showMenu()')= '회원 :'+ session
  #myDropdown.dropdown-content
    if session ===null
      a#signupbtn(href='#') 회원가입
      a#loginbtn(href='#') 로그인
    else
      a#logoutbtn(href='/logout') 로그아웃
    hr
    a(href='#') 숙소 호스트 되기
    a(href='#') 체험 호스트 되기
    a(href='#') 도움말

script.
  function showMenu() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  //모달 또는 드롭다운 메뉴 바깥영역을 클릭하면  닫아버린다
  window.onclick = function(event) {

    if (event.target.matches('#login_modal')) {
      modal.style.display = "none";
    } 

    if (!event.target.matches('.dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  } 