extends layout
block content
  //include ./searchbar.pug
  link(rel='stylesheet' href='/stylesheets/grid.css')
  header
    include ./navbar.pug
  
  section(style='background-color:white;height:auto;;margin-top:100px')
    section(style='display:flex; justify-content:center;')
        .grid-container
          div 
            img(src='/images/topimage.jpg')

  section(style='background-color:white;height:auto;')
    section(style='display:flex; justify-content:center;')
        .grid-container
          div 
            img(src='/images/second1.jpg')
          div 
            img(src='/images/second2.jpg')
          div
            img(src='images/second3.jpg')

  section(style='background-color:black;height:auto; color:white;')
    section(style='display:flex; justify-content:center;')
      div
        h1 브로드웨이 온라인 체험
        div(style ='width:70%')  
          span(style ='word-break:break-all;') 슬기로운 집콕 생활을 위한 색다른 방법 - 실시간으로 진행되는 인터랙티브 브로드웨이 공연에 참여하고 출연진과 대화를 나눠보세요.
      div
        button 더 알아보기
    section(style='display:flex; justify-content:center;')
      .grid-container
        .item1 
          img(src='/images/third1.jpg')
        .item2 
          img(src='/images/third2.jpg')
          img(src='/images/third3.jpg')
        .item4 
          img(src='/images/third4.jpg')
      
  footer
    include ./footer.pug

  script.

    var setCookie = function(name, value, day) {
      var date = new Date();
      date.setTime(date.getTime() + day * 60 * 60 * 24 * 1000);
      document.cookie = name + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
    };

    var getCookie = function(name) {
    var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
    return value? value[2] : null;
    };

    var deleteCookie = function(name) {
      console.log("del cookie");
      setCookie(name, '',-1);
    }


    var modal = document.getElementById("login_modal");
    var btn = document.getElementById("loginbtn");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
      modal.style.display = "block";
    }
    span.onclick = function() {
      modal.style.display = "none";
    }








