extends layout
block content
    // login modal
    #signup_modal.modal
        .modal-content
            .modal-header
                span.close &times;
                h2 회원가입
            .modal-body
                form(action='/signup' method='post')
                    .container
                        label(for='id')
                        b 이메일
                        input(type='text' placeholder='이메일 ID' name='id' required='')
                        label(for='name')
                        b 이름
                        input(type='text' placeholder='이름' name='name' required='')
                        label(for='pw')
                        b 비밀번호
                        input(type='password' placeholder='비밀번호' name='pw' required='')
                        button(type='submit') 회원가입

            .modal-footer
                span 에어비앤비 계정이 있나요?
                | 
                a#loginlink(href='#') 로그인


