* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    margin: 5px 5px;
    width: 1000px;
}



.imgbox {

    width: 250px;
    height: 200px;
    margin: 15px;
    border-radius: 2em;
}

.contentbox {
    width: 500px;
    margin: 5px;

}

.buttonbox {
    width: 150px;
    padding: 10px;
}


/* Style the counter cards */
.card {
    width: 800px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

.result_txt_container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.result_container {

    margin-left: 80px;
    display: flex;
    justify-content: center;

}

#result_area{
    overflow: auto;
    height:500px;
}
.record-area{
    text-align: center;
}
.record-row{
    font-size: 16px;
}


